<div class="userProfileList" name="UserProfileList" id="UserProfileList"></div>

@Scripts.Render("~/scriptControls/userProfile")
<script>

    function renderUserProfileForExpression(lamda) {
        lamda = htmlDecode(lamda);
        restoreBlob();

        $.ajax({
            url: '/api/UserProfile?lamda=' + lamda,
            type: "GET",
            success: function (data) {
                restoreBlob();

                var shell = $(".userProfileList");
                shell.empty();
                $.each(data, function (index, value) {
                    var tagId = "UserProfile" + value.UserId;
                    shell.append($('<div class="userProfile" name="UserProfile" id="' + tagId + '"></div>'));
                    document.blob.UserProfile.push(value);
                });

                $.event.trigger({
                    type: "userProfileChanged",
                    UserProfile: data
                });
            },
            error: function (xhr, ajaxOptions, thrownError) { xhr.fieldSet = data.fieldSet; handleJqueryAjaxError(xhr, ajaxOptions, thrownError) },
            timeout: 1000,
        });

        //$.getJSON('/api/UserProfile?lamda=' + lamda).done(function (data) {
        //    restoreBlob();

        //    var shell = $(".userProfileList");
        //    shell.empty();
        //    $.each(data, function (index, value) {
        //        var tagId = "UserProfile" + value.UserId;
        //        shell.append($('<div class="userProfile" name="UserProfile" id="' + tagId + '"></div>'));
        //        document.blob.UserProfile.push(value);
        //    });

        //    $.event.trigger({
        //        type: "userProfileChanged",
        //        UserProfile: data
        //    });
        //}).error(function (e) {
        //    if (e.responseText.length > 0) {
        //        document.open();
        //        document.write(e.responseText);
        //        document.close();
        //    }
        //});
    }

    $(document).on("userProfileUpdated", function (data) {
        replaceMessages(data.fieldSet, [{ message: "Updating profile ...", type: "warning" }])
        $.ajax({
            url: "/api/UserProfile",
            type: "POST",
            data: JSON.stringify([data.UserProfile]),
            contentType: "application/json",
            success: replaceMessages(data.fieldSet, [{ message: "Profile updated", type: "sucess" }]),
            error: function (xhr, ajaxOptions, thrownError) { xhr.fieldSet = data.fieldSet; handleJqueryAjaxError(xhr, ajaxOptions, thrownError) },
            timeout: 1000,
            headers: {
                'RequestVerificationToken': requestVerificationToken
            }
        });
    });

$(document).ready(function () {
    renderUserProfileForExpression("@ViewBag.UserProfileListLambda");
});
</script>
@functions{
    public string TokenHeaderValue()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return formToken;
    }
}
