@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Profiles</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
</head>
<body>
    <find-userprofile></find-userprofile>
    <user-snapshots></user-snapshots>
    <script type="text/javascript" src="~/ScriptControls/app.js"></script>
    <script type="text/javascript" src="~/Component/GetPermittedScripts?scenario=shop"></script>
</body>
</html>

