@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Profiles</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
</head>
<body>
    <user-profiles></user-profiles>
    <div user-profile></div>
    <script type="text/javascript" src="~/ScriptControls/app.js"></script>
    <script type="text/javascript" src="~/Component/GetPermittedScripts"></script>
</body>
</html>
