<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MembershipCashierW-20160203163132;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MembershipCashierW-20160203163132.mdf" />-->
    <add name="SecurityStoreEntities" connectionString="metadata=res://*/DB.SecurityDB.csdl|res://*/DB.SecurityDB.ssdl|res://*/DB.SecurityDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MembershipCashier;integrated security=True;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MembershipCashierEntities" connectionString="metadata=res://*/DB.MembershipDBModel.csdl|res://*/DB.MembershipDBModel.ssdl|res://*/DB.MembershipDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MembershipCashier;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MembershipCashierW-20160204114305;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MembershipCashierW-20160204114305.mdf"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LowLevelForMembershipCashierDL"/>
        <binding name="LowLevelForSecurityDL"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9812/LowLevelAccess" binding="basicHttpBinding" bindingConfiguration="LowLevelForMembershipCashierDL" contract="MPSvc.LowLevelForMembershipCashierDL" name="LowLevelForMembershipCashierDL"/>
      <endpoint address="http://localhost:9811/SecurityLowLevelAccess" binding="basicHttpBinding" bindingConfiguration="LowLevelForSecurityDL" contract="SecuritySvc.LowLevelForSecurityDL" name="LowLevelForSecurityDL"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
