@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ng-retail-dashboard-component></ng-retail-dashboard-component>
@section scripts
{
    <script src="~/component/getpermittedscripts?scenario=dashboard"></script>
}
<div ng-view style="position: relative;"></div>
