<div class="row">
    <div class="col-xs-12 form-group">
        <div>
            <label class="control-label" ng-translate="Address"></label>
            <input class="form-control input-lg" type="text" ng-model="$ctrl.blob.Address.Address1" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 form-group">
        <div>
            <label class="control-label" ng-translate="City"></label>
            <input class="form-control input-lg" type="text" ng-model="$ctrl.blob.Address.City" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 form-group">
        <div>
            <label class="control-label" ng-translate="Postal Code"></label>
            <input class="form-control input-lg" type="text" ng-model="$ctrl.blob.Address.PostalCode" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 form-group">
        <div>
            <label class="control-label" ng-translate="Province"></label>
            <select class="form-control input-lg"></select>
        </div>
    </div>
</div>