<!--<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

</body>
</html>-->

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Find Product</h5>
        </div>
        <div class="modal-body">
            <form role="form" novalidate angular-validator name="addCustomerForm" angular-validator-submit="Register()">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input id="inputSearchProducts" type="search" class="form-control shortInputSearch" placeholder="Search product" ng-model="searchString" ng-change="doSearch();" ng-model-options="{debounce: 200}" />
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between" ng-repeat="product in products">
                        {{product.Description}}
                        <button type="button" class="btn btn-warning btn-sm pull-right">Add</button>

                    </li>
                </ul>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info btn-md" ng-click="cancel()">Close</button>
            <div proximity-watch="products" proximity-action="loadProducts()" style="text-align:center;">
                <span ng-show="loading" style="width: 40px"></span> <span ng-show="loading">Loading...</span>
            </div>
        </div>
        
    </div>



