<div class="main-content">
    <p style="color: red; font-size: smaller; font-style: italic" ng-show="error">An error occurred.</p>
    <div>
        <label>User Name</label>
        <input type="text" ng-model="userName" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" ng-model="password" />
    </div>
    <div ng-show="captchaRequired">
        <img ng-src="{{captchaImage}}" />
        <div>
            <input type="text" ng-model="captcha" />
        </div>
    </div>
    <div>
        <button type="button" ng-click="login()">Login</button>
    </div>
    
</div>