<br/>
<br/>
<div ng-controller="ProductsCtrl as ctrl" class="mt-10">
    <div class="container" fade-in="products">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input id="inputSearchProducts" type="search" class="form-control shortInputSearch" placeholder="Search" ng-model="searchString" ng-change="doSearch();" ng-model-options="{debounce: 200}" />
                    <button class="btn btn-default ml-2" id="searchCon" ng-click="doSearch();" type="button">Read QR code</button>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal" id="new">Enroll New Client</button>
            </div>
        </div>    
        <div class="card mt-2" ng-repeat="user in userAndProducts | filter:searchString">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="h4 mb-0 text-primary">{{user.UserProfile.FirstName}} {{user.UserProfile.LastName}}</div>
                        <div class="small text-muted">{{user.UserProfile.EmailId}}</div>
                        <div class="small text-muted">{{user.UserProfile.Phone}}</div>
                    </div>
                    <div class="col-md-4 col-sm-12 pull-right">
                        <span class="help-block text-muted small-font">Last Payment</span>
                        <input type="text" class="form-control" value="What field should be bound?" readonly />
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <span class="help-block text-muted small-font">Balance</span>
                        <input type="text" class="form-control" value="{{calcCurrentBalance(user.Products) | currency}}" readonly />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <img src="https://cdn2.iconfinder.com/data/icons/website-icons/512/User_Avatar-128.png" />
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="card-block px-3 mt-2" ng-repeat="product in user.Products">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <a href="">{{product.Product.Description}}</a>
                                </div>                                
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary"type="button" ng-click="updateBalance(product, -1)"><span class="fa fa-minus"></span></button>
                                        </span>
                                        <input type="text" name="balance" class="form-control text-center" ng-model="product.ProfileCredit.Ballance">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="button" ng-click="updateBalance(product, 1)"><span class="fa fa-plus"></span></button>
                                        </span> 
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" class="form-control" value="{{product.ProfileCredit.Ballance * product.ProfileCredit.BallanceUnits | currency}}" readonly />
                                </div>
                                <div class="span4"></div>
                            </div>
                        </div>
                        <div class="card-block mu-2 mt-2">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="OpenAddProductDialog(user)">Add More</button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="openTransHistoryDialog(user)">Transaction History</button>
                            </div>
                    </div>                   
                </div>
            </div>
        </div>       
            <div class="panel-footer">
                <div class="text-center">
                    <!--<custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>-->
                </div>
                <div proximity-watch="userAndProducts" proximity-action="loadClientLastUsedProducts()" style="text-align:center;">
                    <span ng-show="loading" style="width: 40px"></span> <span ng-show="loading">Loading...</span>
                </div>
            </div>
        </div>
</div>